<div class="container">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 mt-3">
            <div class="card p-3 shadow">
                <form [formGroup]="form" class="p-3">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input formControlName="name" id="name" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input formControlName="email" id="email" type="text" class="form-control">
                    </div>

                    <app-custom-input formControlName="customInputControl" id="customInputControl"></app-custom-input>
                    <div *ngIf="form.get('customInputControl')?.hasError('invalid') && form.get('customInputControl')?.hasError('touched')"
                        class="alert alert-danger">
                        Please Enter
                    </div>
                    <!-- <div class="invalid-feedback" *ngIf="(form.controls.customInputControl.touched || form.controls.customInputControl?.dirty) && form.controls.customInputControl?.invalid">
                        Custrom Input Required
                  </div> -->
                    <button class="btn btn-primary" (click)="submit()" [disabled]="form.invalid && form.get('customInputControl')?.value">Submit</button>
                </form>

                <h5 class="mb-1 mt-2">Variable Value in app.component</h5>
                {{ form.get('customInputControl')?.value }}
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>